<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-15">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h4>Create Employee</h4>
                        <hr />
                        <form @submit.prevent="storeEmployee()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mt-3">
                                        <label
                                            for="first_name"
                                            class="font-weight-bold mb-1"
                                        >
                                            First Name
                                        </label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            v-model="employee.first_name"
                                            placeholder="first_name"
                                        />
                                        <!-- validation -->
                                        <div
                                            v-if="validation.first_name"
                                            class="mt-2 alert alert-danger"
                                        >
                                            {{ validation.first_name[0] }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mt-3">
                                        <label
                                            for="last_name"
                                            class="font-weight-bold mb-1"
                                        >
                                            Last Name
                                        </label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            v-model="employee.last_name"
                                            placeholder="last_name"
                                        />
                                        <!-- validation -->
                                        <div
                                            v-if="validation.last_name"
                                            class="mt-2 alert alert-danger"
                                        >
                                            {{ validation.last_name[0] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label
                                    for="address"
                                    class="font-weight-bold mb-1"
                                >
                                    Address
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="employee.address"
                                    placeholder="address"
                                />
                                <!-- validation -->
                                <div
                                    v-if="validation.address"
                                    class="mt-2 alert alert-danger"
                                >
                                    {{ validation.address[0] }}
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label
                                    for="phone"
                                    class="font-weight-bold mb-1"
                                >
                                    Phone Number
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="employee.phone"
                                    placeholder="phone"
                                />
                                <!-- validation -->
                                <div
                                    v-if="validation.phone"
                                    class="mt-2 alert alert-danger"
                                >
                                    {{ validation.phone[0] }}
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label
                                    for="salary"
                                    class="font-weight-bold mb-1"
                                >
                                    Salary
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    v-model="employee.salary"
                                    placeholder="salary"
                                />
                                <!-- validation -->
                                <div
                                    v-if="validation.salary"
                                    class="mt-2 alert alert-danger"
                                >
                                    {{ validation.salary[0] }}
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label
                                    for="day_id"
                                    class="font-weight-bold mb-1"
                                >
                                    Schedule
                                </label>
                                <br />
                                <select class="ml-5" v-model="employee.day_id">
                                    <option disabled value="">
                                        Please select one
                                    </option>
                                    <option value="1">Senin</option>
                                    <option value="2">Selasa</option>
                                    <option value="3">Rabu</option>
                                    <option value="4">Kamis</option>
                                    <option value="5">Jumat</option>
                                    <option value="6">Sabtu</option>
                                </select>
                                <!-- validation -->
                                <div
                                    v-if="validation.day_id"
                                    class="mt-2 alert alert-danger"
                                >
                                    {{ validation.day_id[0] }}
                                </div>
                            </div>
                            <div class="mt-3">
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                >
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { reactive, ref } from "vue";
import { useRouter } from "vue-router";
import axios from "axios";

export default {
    setup() {
        //state employees
        const employee = reactive({
            first_name: "",
            last_name: "",
            address: "",
            phone: "",
            salary: "",
            day_id: "",
        });

        //state validation
        const validation = ref([]);

        //vue router
        const router = useRouter();

        //method store
        function storeEmployee() {
            let first_name = employee.first_name;
            let last_name = employee.last_name;
            let address = employee.address;
            let phone = employee.phone;
            let salary = employee.salary;
            let day_id = employee.day_id;

            axios
                .post("http://localhost:8000/api/employees", {
                    first_name: first_name,
                    last_name: last_name,
                    address: address,
                    phone: phone,
                    salary: salary,
                    day_id: day_id,
                })
                .then(() => {
                    //redirect ke employee index
                    router.push({
                        name: "employee.index",
                    });
                })
                .catch((error) => {
                    //assign state validation with error
                    validation.value = error.response.data;
                });
        }

        //return
        return {
            employee,
            validation,
            router,
            storeEmployee,
        };
    },
};
</script>

<style>
body {
    background: lightgray;
}
</style>
