<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h4>Employees Data</h4>
                        <hr />
                        <router-link
                            :to="{ name: 'employee.create' }"
                            class="btn btn-md btn-success"
                        >
                            Add Employee
                        </router-link>
                        <table class="table table-striped table-bordered mt-4">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">
                                        Name
                                    </th>
                                    <th class="text-center" scope="col">
                                        Address
                                    </th>
                                    <th class="text-center" scope="col">
                                        Phone Number
                                    </th>
                                    <th class="text-center" scope="col">
                                        Salary
                                    </th>
                                    <th class="text-center" scope="col">
                                        Schedule
                                    </th>
                                    <th class="text-center" scope="col">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="(employee, index) in employees"
                                    :key="index"
                                >
                                    <td class="text-center">
                                        {{ employee.first_name }}
                                        {{ employee.last_name }}
                                    </td>
                                    <td class="text-center">
                                        {{ employee.address }}
                                    </td>
                                    <td class="text-center">
                                        {{ employee.phone }}
                                    </td>
                                    <td class="text-center">
                                        {{ employee.salary }}
                                    </td>
                                    <td class="text-center">
                                        {{ days[employee.day_id].day }}
                                    </td>
                                    <td class="text-center">
                                        <router-link
                                            :to="{
                                                name: 'employee.edit',
                                                params: { id: employee.id },
                                            }"
                                            class="btn btn-sm btn-primary mr-1"
                                        >
                                            Edit
                                        </router-link>
                                        &nbsp;
                                        <button
                                            @click.prevent="
                                                deleteEmployee(employee.id)
                                            "
                                            class="btn btn-sm btn-danger ml-1"
                                        >
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import { onMounted, ref } from "vue";

export default {
    setup() {
        //reactive state
        let employees = ref([]);
        let days = ref([]);

        //mounted
        onMounted(() => {
            //get API from Laravel Backend
            axios
                .get("http://localhost:8000/api/employees")
                .then((response) => {
                    //assign state employees with response data
                    employees.value = response.data.data;
                })
                .catch((error) => {
                    console.log(error.response.data);
                });
            axios
                .get("http://localhost:8000/api/days")
                .then((response) => {
                    //assign state employees with response data
                    days.value = response.data.data;
                })
                .catch((error) => {
                    console.log(error.response.data);
                });
        });

        //method delete
        function deleteEmployee(id) {
            //delete data employee by ID
            axios
                .delete(`http://localhost:8000/api/employees/${id}`)
                .then(() => {
                    //splice employees
                    employees.value.splice(employees.value.indexOf(id), 1);
                })
                .catch((error) => {
                    console.log(error.response.data);
                });
        }

        //return
        return {
            employees,
            days,
            deleteEmployee,
        };
    },
};
</script>

<style>
body {
    background: lightgray;
}
</style>
